{% extends "layout.html" %}

{% block head %}Sign In{% endblock %}
{% block body %}
<h1 style="padding-left: 10%">Login</h1><br/>
</br>
<form style="padding-left: 10%" class="form-horizontal" action="{{url_for('login')}}" method="POST">

    <input type="text" name="username" placeholder="Enter your user name" />
</br></br>
    <input type="password" name="password" placeholder="Enter your password" />
</br>
</br>
    <input type="submit" value="Log in" />

</br>
</form></br>


</form>
<form style="padding-left: 10%" action="{{url_for('register')}}">
    <input type="submit" value="Register" />


</form>
<h4>
    {% if val %}
</br>
    User added successfully 
    {% endif %}
    {% if no %}
</br>
No User found
{% endif %}
</h4>

{% endblock %}
